{% include base_path %}
<header class="masthead">
  <nav class="masthead__nav" aria-label="Main">
    {% for link in site.data.navigation.main %}
      {% if link.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = base_path %}{% endif %}
      {% if link.url == '/' %}
        {% if page.url == '/' or page.url == '/index.html' %}{% assign is_current = true %}{% else %}{% assign is_current = false %}{% endif %}
      {% else %}
        {% if page.url contains link.url %}{% assign is_current = true %}{% else %}{% assign is_current = false %}{% endif %}
      {% endif %}
      <a class="masthead__link{% if is_current %} is-current{% endif %}" href="{{ domain }}{{ link.url }}"{% if is_current %} aria-current="page"{% endif %}>{{ link.title }}</a>
    {% endfor %}
    <a id="theme-toggle" class="masthead__link masthead__toggle" role="button" aria-label="Toggle light/dark theme"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i></a>
  </nav>
</header>
