{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
          {% if page.collection == 'portfolio' %}
            <li class="masthead__menu-item masthead__project-nav persist tail">
              <a href="{{ '/portfolio/' | prepend: site.baseurl }}" class="masthead__back-link">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Projects
              </a>
              {% if page.previous or page.next %}
                <span class="masthead__project-arrows">
                  {% if page.previous %}
                    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="masthead__project-arrow" aria-label="Previous project"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if page.next %}
                    <a href="{{ page.next.url | prepend: site.baseurl }}" class="masthead__project-arrow" aria-label="Next project"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  {% endif %}
                </span>
              {% endif %}
            </li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>